@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.card_box {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 50px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    border: 1px solid hwb(0 49% 48% / 0.162);
    padding: 10px;
}

.card_input {
    width: 100%;
    box-sizing: border-box;
    border: #ddd solid 1px;
    border-radius: 6px;
    color: #555;
    padding: 8px;
    margin-top: 2px;
    margin-bottom: 14px;
    outline: none;
    font-family: inherit;
}

#card-button {
    width: 100%;
    background-color: #0074d4;
    border: #7da5c8 solid 2px;
    border-radius: 6px;
    color: #fff;
    margin-top: 8px;
    padding: 8px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

#card-button:hover {
    opacity: .8;
}

#card-result {
    color: #444;
    font-weight: bold;
}

#card-number-element {
    background-image: url('images/unknown.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 24px;
    background-origin: content-box;
}

#card-cvc-element {
    background-image: url('images/cvc.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 24px;
    background-origin: content-box;
}

.card_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.card_row > div {
    width: 100%;
}